/* body {
    background-image: url("../images/church-2459894_1920.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position-y: 100%;
} */

body::after {
    background: url("../images/church-2459894_1920.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position-y: 100%;
    overflow: scroll;
    content: "";
    opacity: 0.8;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

p {
    font-size: 18px;
}

.container {
    width: 60%;
    text-align: center;
    margin: auto;
    /* margin-top: 10%; */
    background-color: white;
    padding: 10px 15px 20px 15px;
    overflow: hidden;
}

img {
    margin: auto;
    height: 400px;
}

button {
    padding: 5px;
    border-radius: 5%;
}

.myClass {
    padding: 7px;
    border-radius: 5%;
    background-color: #ff9100;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 14px;
}

.myClass:hover {
    background-color: #ffab91;
    cursor: pointer;
}

.answers {
    padding: 7px 10px 7px 10px;
    border-radius: 5%;
    background-color: #616161;
    color: white;
    /* font-weight: bold; */
    border: none;
    font-size: 14px;
    margin: 5px;
}

.answers:hover {
    /* background-color: #4caf50; */
    background-color: #ffb74d;
}

h3 {
    font-family: fantasy;
    font-size: 25px;
    margin: 5px 0;
}

#time {
    margin: 10px 0 10px;
}